*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: black;
    color: white;
}

.container{
    margin: auto;
}

.width-90{
    width: 90%;
}

.flex{
    display: flex; 
}

.big-container{
    height: 100vh;
    position: relative;
}

header{
    justify-content: flex-end;
    height: 50px;
    
}

header > *{
    color: white;
    background-color: gray;
    font-size: 15px;
    margin: 8px;
    padding: 0px 5px;
}

button:hover{
    text-decoration: underline;
    font-size: 1.1rem;
}

.main{
    flex-wrap: wrap;
    justify-content: space-around;
}

.screen-view{
    width: 13%;
    height: 100px;
    background-image: url("img/image.png");
    background-size: cover;
    background-position: top;
    align-items: flex-end;
    margin-top: 10px;
}

.screen-view:hover{
	width: 14%;	
	
}


.screen-view span{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2px 5px;   
}


nav{
    height: 75px;
    margin-top: 3%;
    background-color: #222222;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

nav > *{
    /* width: calc(100% / 3); */
    /* border: 1px solid red;     */
}

.btn i{
    font-size: 1.5rem;
}

.btn{
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
}

.btn:hover{
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.3rem;
}


nav{
    align-items: center;
}

.fa-share-square{
    color: green;
}

.nav-middle{
    flex-grow: 1;
    justify-content: center;
}

.nav-right{
    align-items: center;
    height: 100%;
    color: red;
    background-color: #4a4a4a;
    padding: 0px 10px;
}

.nav-right:hover{
    text-decoration: underline;
    font-size: 1.4rem;
}





